.menu_list_main {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 35ch;
    transition: none;
    resize: horizontal;
    overflow: auto;
}

.menu_list_main * {
    user-select: none;
    transition: none;
}

.menu_list_scrollable {
    user-select: none;
    display: block;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: auto;
}

.item_group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.virtual_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.search_bar {
    width: 100%;
    display: flex;
    margin-top: auto;
}

.search_bar input {
    flex-grow: 1;
}

.menu_list_closed {
    transition: none;
    display: flex;
    align-items: center;
    align-self: start;
    padding: 0.5rem;
    font-size: 1.5rem;
    background: var(--lighter-color);
    justify-content: space-between;
    border-radius: 0 var(--primary-border-radius) var(--primary-border-radius) 0;
    border: solid 0.2rem var(--track-border-color);
    cursor: pointer;
    max-width: fit-content;
}

.menu_list_closed:active {
    border-color: var(--border-color);
}