.menu_list_main {
    display: flex;
    flex-direction: column;
    max-width: 35ch;
}

.menu_list_scrollable {
    user-select: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: auto;
}

.menu_list_scrollable * {
    transition: none;
}

.item_group {
    display: flex;
    flex-direction: column;
}

.search_bar {
    width: 100%;
    display: flex;
}

.search_bar input {
    flex-grow: 1;
}