.main_content {
    width: 100%;
    display: flex;
    min-height: 0;
    min-width: 0;
    flex-grow: 1;
    gap: var(--flex-gap);
    overflow-x: auto;
    padding-left: var(--flex-gap);
    padding-bottom: var(--flex-gap);
    padding-right: var(--flex-gap);
}

.main_content_window {
    min-height: 0;
    /*seems nice?*/
    min-width: 64vh;
    display: block;
    flex: 1;
}