.main_content {
    width: 100%;
    background: var(--top-color);
    display: flex;
    min-height: 0;
    flex-grow: 1;
    gap: 0.5rem;
    padding: 0.5rem;
}

.main_content_window {
    width: 100%;
    display: flex;
    flex-grow: 1;
    min-height: 0;
}