.bottom_bar {
    overflow-x: auto;
    display: flex;
    border-top: solid 1px var(--track-border-color);
    width: 100%;
    margin-top: auto;
}

.bottom_bar > div {
    user-select: none;
    cursor: pointer;
    padding: 0.3rem 1rem;
    text-align: center;
    white-space: nowrap;
    border-right: solid 1px var(--track-border-color);
}

.bottom_bar div:hover {
    background: var(--lighter-color);
}

.bottom_bar input {
    border: none;
    background: transparent;
    border-bottom: solid 1px var(--track-border-color);
    font-size: 1rem;
}

.bottom_bar input[type="text"] {
    width: 30ch;
}