.preset_item_wrapper {
    display: flex;
    flex-direction: column;
}

.preset_item {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    gap: 1ch;
    padding: 0.1rem 0.5rem;
}

.preset_item:hover, .preset_item.selected {
    background: var(--top-buttons-color-end);
}

.preset_item span {
    font-size: 0.9rem;
}

.preset_item_name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: end;
    flex-grow: 1;
}

.left_group {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.left_group span:not(.monospaced) {
    font-size: 1rem;
    display: flex;
}

.left_group .triangle {
    color: var(--preset-item-color);
    flex-grow: 1;
}

.left_group svg {
    cursor: pointer;
}

.preset_instruments {
    margin-left: 1rem;
    margin-right: 0.5rem;
}