.modulator_list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    align-items: center;
}

.modulator_list .action_buttons {
    display: flex;
}

.modulator_list .modulator_list_button:hover {
    filter: brightness(1.8);
}