.wave_view {
    background: var(--top-color-start);
    min-height: 0;
    min-width: 0;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
}

.wave_view * {
    transition: none;
}

.wave_view_child {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: auto;
}

.fake_scroll {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: var(--top-index);
}

.wave_view canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}