.sample_display {

    flex-grow: 1;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.sample_display span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sample_display svg * {
    color: var(--sample-item-color);
}

.sample_display * {
    font-size: 0.9rem;
    text-align: end;
}

.sample_display svg {
    width: 1rem;
    height: 100%;
    margin-right: 1ch;
}

.sample_display:hover, .sample_display.selected {
    background: var(--top-buttons-color-end);
}