.sample_display {
    padding: 0 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sample_display span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sample_display svg * {
    color: var(--sample-item-color);
}

.sample_display * {
    font-size: 0.9rem;
}

.sample_display svg {
    font-size: 1rem;
    width: 1.3rem;
    height: auto;
    margin-right: 1ch;
}

.sample_display:hover, .sample_display.selected {
    background: var(--lighter-color-end);
}