.default_modulators {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    gap: var(--flex-gap);
}

.default_modulators_title {
    padding: 0.5rem;
    border-bottom: solid 0.2rem var(--border-color);
}