.sound_bank_info .stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
    flex-grow: 0;
    min-width: max-content;
    user-select: none;
    gap: var(--flex-gap);
}

.sound_bank_info .stats h1 {
    width: 100%;
    padding: 0.3rem;
    font-size: 2rem;
    background: var(--lighter-color-end);
    border: solid 1px var(--track-border-color);
    border-radius: var(--primary-border-radius);
}

.sound_bank_info .stats h1:hover {
    filter: brightness(1.2);
}


.sound_bank_info .stat_span {
    display: flex;
    justify-content: space-between;
    gap: var(--flex-gap);
}

.sound_bank_info .single_stat {
    padding: 0.3rem;
    background: var(--lighter-color-end);
    border: solid 1px var(--track-border-color);
    border-radius: var(--primary-border-radius);
}

.sound_bank_info .single_stat:hover {
    filter: brightness(1.2);
}


.sound_bank_info .default_modulators_button {
    display: flex;
    padding: 0;
}

.sound_bank_info .default_modulators_button, .sound_bank_info .default_modulators_button * {
    cursor: pointer;
}

.sound_bank_info .default_modulators_button span:first-child {
    border-right: solid 1px var(--track-border-color);
    height: 100%;
    padding: 0.3rem;
}

.sound_bank_info .default_modulators_button svg {
    margin-right: 0.5rem;
    height: 60%;
    width: auto;
}

.sound_bank_info .monospaced {
    user-select: text;
}

.sound_bank_info .stats .stat_group {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
    padding: 0;
}

.sound_bank_info .stats .stat_group > label {
    border-bottom: 1px solid var(--track-border-color);
    padding: 0.3rem;
}

.sound_bank_info .stats .stat_group > span {
    padding: 0.3rem;
}


.sound_bank_info .stats .stat_group span {
    border: none;
    margin-top: auto;
}

.sound_bank_info .stats pre, .sound_bank_info .stats label {
    font-size: 1rem;
}

.sound_bank_info .stats pre {
    font-weight: bold;
}

.sound_bank_info .stats a {
    text-decoration: none;
}

.sound_bank_info .powered_by {
    margin-top: auto;
}