.modulator_main {
    width: auto;
    background: var(--top-buttons-color);
    margin: 0.5rem;
    padding: 0.1rem;
    border-radius: var(--primary-border-radius);
    border: solid var(--track-border-color) 1px;
    display: flex;
    align-items: center;
    --source-picker-height: 2rem;
    transition: all 0.2s ease;
    flex-wrap: wrap;
    justify-content: center;
}

.modulator_main.selected {
    border-color: var(--border-color);
    filter: brightness(1.5);
}

.modulator_main svg {
    color: var(--font-color);
    margin-left: -0.5rem;
}

.modulator_main * {
    user-select: none;
}

.modulator_title {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 1rem;
}

.modulator_title h3 {
    white-space: break-spaces;
    width: min-content;
}

.modulator_title span {
    display: block;
    cursor: pointer;
    margin-top: 0.5rem;
}

.modulator_main .transform_box {
    display: flex;
    align-items: center;
    border-radius: var(--primary-border-radius);
    border: solid var(--track-border-color) 1px;
    margin: 0.5rem 1rem;
}

.modulator_main .source_pair {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.modulator_main .amount_input, .modulator_main .transform_selector {
    font-size: 1rem;
    margin: 0.5rem;
}

.amount_input {
    text-align: end;
    width: 6rem;
}

.destination_picker {
    margin-right: 1rem;
}