.modulator_main {
    background: var(--lighter-color);
    border-radius: var(--primary-border-radius);
    border: solid var(--track-border-color) 1px;
    display: flex;
    align-items: center;
    --source-picker-height: 2rem;
    transition: all 0.2s ease;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--flex-gap);
    position: relative;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    cursor: pointer;

    /*scrollbars!*/
    margin-left: 1rem;
    margin-right: 1rem;
}

.modulator_main.selected *, .modulator_main.selected {
    border-color: var(--border-color);
}

.modulator_main svg {
    color: var(--font-color);
    margin: -0.5rem;
    cursor: auto;
}

.modulator_main * {
    user-select: none;
}

.modulator_title {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

.modulator_title_left {
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
}

.modulator_title_right {
    cursor: pointer;
    position: absolute;
    right: 0.3rem;
    line-height: 1rem;
    top: 0.3rem;
    height: min-content;
    font-weight: bolder;
}

.modulator_main .source_pair {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

.modulator_main .amount_input, .modulator_main .transform_selector {
    font-size: 1rem;
}

.amount_input {
    text-align: end;
    width: 8ch;
    border-radius: var(--primary-border-radius);
}

.modulator_main .pretty_input {
    display: flex;
}

.modulator_main .pretty_input select, .modulator_main .pretty_input input {
    background: transparent;
    border: none;
    font-size: 1rem;
}