.modulator_curve_picker {
    cursor: pointer;
    padding: 0.2rem;
    margin: 0.2rem;
    position: relative;
}

.modulator_curve_picker * {
    transition: none;
}

.modulator_curve {
    height: var(--source-picker-height);
    border-radius: var(--primary-border-radius);
}

.modulator_curve_showcase {
    position: absolute;
    z-index: var(--top-index);
    display: flex;
    flex-wrap: wrap;
    min-width: 25rem;
    top: 4rem;
    align-items: center;
    justify-content: center;
    left: -10.7rem;
    padding: 0.3rem;
}

.modulator_curve_showcase .modulator_curve {
    height: calc(var(--source-picker-height) * 2);
    border-radius: var(--primary-border-radius);
}

.modulator_curve_pick {
    margin: 0.3rem;
    cursor: pointer;
}