.wave_view {
    background: var(--darker-color-start);
    min-height: 0;
    min-width: 0;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    align-self: stretch;
    border-radius: var(--primary-border-radius);
    overflow: hidden;
}

.wave_view * {
    transition: none;
}

.wave_view_child {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: auto;
}

.fake_scroll {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 100;
}

.wave_view canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}