.sample_editor {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);;
    height: 100%;
}

.info_split {
    display: flex;
    gap: var(--flex-gap);;
}

.info_column {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);;
    width: 100%;
}

.sample_name {
    font-size: 1.5rem;
}

.tools {
    align-items: center;
    justify-content: start;
    width: 100%;
}

.tools > * {
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.tools h2 {
    /*these values are to even out the height with the sample name input*/
    font-size: 1.5rem;
    padding: 0.3rem;
    border: 0.2rem solid transparent;
}

.tools .controller_range_wrapper {
    padding: 0 0.5rem;
}

.info_field {
    display: flex;
    justify-content: space-between;
    gap: var(--flex-gap);
    align-items: center;
}

.info_field span {
    text-align: start;
    white-space: nowrap;
}

.info_field input {
    text-align: end;
}