.instrument_editor {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.zones_view_wrapper {
    overflow: auto;
    min-width: 0;
    flex-grow: 1;
}

.zones_view {
    border-spacing: 0;
    border-radius: var(--primary-border-radius);
    border: solid 1px var(--track-border-color);
    overflow: hidden;
}

.zones_view th {
    font-weight: normal;
    user-select: none;
}

.zones_view td {
    width: min-content;
}

.header_cell {
    background: var(--top-buttons-color-start);
    padding: 1rem 0.5rem;
    cursor: pointer;
}

.header_cell input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

.zones_view th:first-child,
.zones_view td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}


.zones_view th:not(:last-child),
.zones_view td:not(:last-child) {
    border-right: solid 1px var(--track-border-color);
}

.zones_view tr:not(:last-child) th,
.zones_view tr:not(:last-child) td,
.zones_view > thead > tr > th {
    border-bottom: solid 1px var(--track-border-color);
}