.instrument_item_wrapper {
    display: flex;
    flex-direction: column;
}

.instrument_item {
    display: flex;
    justify-content: space-between;
    gap: 1ch;
    padding: 0.1rem 0.5rem;
}

.instrument_item span {
    font-size: 0.9rem;
}

.instrument_item svg {
    cursor: pointer;
}

.instrument_item .left_buttons {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    justify-content: center;
}

.instrument_item .left_buttons span {
    display: flex;
    align-items: center;
}

.instrument_item .triangle {
    color: var(--instrument-item-color);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
}

.instrument_item:hover, .instrument_item.selected {
    background: var(--lighter-color-end);
}

.instrument_item_name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: end;
    flex-grow: 1;
}

.instrument_samples {
    margin-left: 1rem;
    margin-right: 0.5rem;
}