.preset_editor {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.drums_toggle {
    display: flex;
    gap: var(--flex-gap);
}