.menu_bar_main {
    display: flex;
    width: 100%;
    background: var(--primary-color);
    height: max-content;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: var(--menu-bar-height);
}

.menu_bar_main * {
    user-select: none;
    white-space: nowrap;
    font-size: 1.1rem;
}

.menu_bar {
    width: max-content;
    text-align: center;
    height: 100%;
}

.menu_bar_button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
}


.menu_bar_contents {
    transition: all 0.2s ease;
    transform: translateY(-0.1rem);
    transform-origin: top center;
    z-index: 100;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    max-width: 20ch;
}

.menu_bar_contents .menu_bar_item {
    white-space: break-spaces;
    border-bottom: var(--border-color) 1px solid;
}

.menu_bar:hover .menu_bar_contents {
    transform: translateY(-0.1rem);
    opacity: 1;
    visibility: visible;
}

.menu_bar_contents div:last-child {
    border-radius: 0 0 0.2rem 0.2rem;
}

.flex_menu_bar {
    transition: all 0.2s ease;
    display: flex;
    height: var(--menu-bar-height);
    align-items: center;
}

.flex_menu_bar div {
    background: var(--primary-color);
    cursor: pointer;
    padding: 0 0.5rem;
    transition: all 0.2s ease;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu_bar_button, .menu_bar_item {
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    padding: 0.2rem 0.5rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

.menu_bar_button:hover, .menu_bar_item:hover, .flex_menu_bar div:hover {
    filter: brightness(1.8);
}

.settings_button {
    color: var(--font-color);
}

.settings_button svg {
    transition: all 0.2s ease;
}

.settings_button:hover svg {
    transform: rotate(90deg);
}


.voice_display {
    height: var(--menu-bar-height);
    transition: all 0.2s ease;
    display: flex;
    width: min-content;
    justify-content: space-between;
    flex: 0;
    align-items: center;
    white-space: nowrap;
}

.voice_display canvas {
    height: calc(var(--menu-bar-height) - 0.1rem);
    padding: 0;
    margin: 0;
}

.midi_voice_display {
    height: 100%;
    background: transparent;
    margin-right: 1ch;
    display: flex;
    align-items: center;
    filter: none !important;
    cursor: default !important;
}

.menu_bar_button .gear {
    height: calc(var(--menu-bar-height) * 2 / 3);
    width: min-content;
}