.keyboard_controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.3rem;
    border: var(--track-border-color) 1px solid;
    border-radius: var(--primary-border-radius);
}

.keyboard_controller * {
    user-select: none;
}

.controller_row {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    flex-wrap: wrap;
}

.controller_column {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}