.keyboard_controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: clip;
}

.keyboard_controller * {
    user-select: none;
}

.controller_row_scroll {
    overflow-x: auto;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.controller_row_main {
    margin: auto;
}

.controller_row {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.controller_row .controller_range_wrapper {
    min-width: max-content;
}

.controller_column {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    align-items: stretch;
    justify-content: center;
    gap: var(--flex-gap);;
}

.controller_column * {
    text-align: center;
}

.keyboard_controller .controller_column .number_display {
    margin-left: 1ch;
    width: 3ch;
    display: inline-block;
}