.zone_table_wrapper {
    overflow: auto;
    flex: 1;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.zone_table {
    border-spacing: 1px;
    border-radius: var(--primary-border-radius);
    /*rounded corners hidden overflow*/
    overflow: hidden;
    background: var(--track-border-color);
    --generator-table-font-size: 1rem;
}

.zone_table * {
    transition: none;
    font-size: var(--generator-table-font-size);
}

.zone_table th {
    font-weight: normal;
    user-select: none;
    background: var(--lighter-color-end);
}

.zone_table td {
    width: min-content;
}

.zone_table th:first-child,
.zone_table td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    /*prevent modulated outlines from showing between the cells*/
    outline: solid 1px var(--track-border-color);
}

/*do not use tr itself as it breaks the top left cell*/
.zone_table thead tr:first-child th {
    position: sticky;
    top: 0;
    z-index: 1;
    outline: solid 1px var(--track-border-color);
}

.zone_table thead tr:first-child th:first-child {
    z-index: 2;
    outline: solid 1px var(--track-border-color);
}
