.header_cell {
    padding: 0.5rem;
    cursor: pointer;
    max-width: 15ch;
    min-width: 10ch;
    position: relative;
}

.header_cell.instrument {
    color: var(--instrument-item-color);
    font-weight: bold;
}

.header_cell.preset {
    color: var(--preset-item-color);
    font-weight: bold;
}

.header_cell span {
    word-break: break-word;
    white-space: break-spaces;
    text-align: start;
}

.header_cell.stereo span:first-child {
    font-style: italic;
    cursor: help;
}

.header_cell .header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_cell .delete_zone {
    cursor: pointer;
    filter: brightness(0.8);
}

.header_cell .delete_zone:hover {
    filter: none;
}