.header_row {
    background: var(--track-border-color);
}

.header_cell {
    padding: 0.5rem;
    cursor: pointer;
    max-width: 15ch;
    min-width: 10ch;
    position: relative;
    text-align: start;
    /*Chrome fix?*/
    width: 0;
}

.header_cell:first-child {
    border-radius: var(--primary-border-radius) 0 0 0;
}

.header_cell:last-child {
    border-radius: 0 var(--primary-border-radius) 0 0;
}

.header_cell.instrument {
    color: var(--instrument-item-color);
    font-weight: bold;
}

.header_cell.preset {
    color: var(--preset-item-color);
    font-weight: bold;
}

.header_cell span {
    word-break: break-word;
    white-space: break-spaces;
    margin-right: 1rem;
}

.header_cell.stereo span:first-child {
    font-style: italic;
    cursor: help;
}

.header_cell .delete_zone {
    cursor: pointer;
    filter: brightness(0.8);
    position: absolute;
    right: -0.8rem;
    top: 0;
}

.header_cell .delete_zone:hover {
    filter: none;
}