.controller_knob {
    --controller-size: 3rem;

    height: var(--controller-size);
    width: var(--controller-size);
    margin-top: 0.5rem;
    border-radius: 50%;
    background: var(--lighter-color-end);
    border: solid 1px var(--track-border-color);
    display: flex;
    align-items: end;
    justify-content: center;
    transition: none;
    cursor: pointer;
}

.controller_knob_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.controller_knob:active {
    filter: brightness(1.8);
    border-color: var(--primary-color);
}

.controller_knob:active .knob_head {
    border-color: var(--border-color);
}

.knob_head {
    border-radius: 50%;
    height: calc(var(--controller-size) / 3);
    width: calc(var(--controller-size) / 3);
    background: var(--track-border-color);
}