.get_user_input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: var(--top-index);
    background: var(--top-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}