.get_user_input {
    user-select: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: calc(var(--top-index) * 2);
    background: var(--darker-color-start);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}