.header_cell {
    padding: 0.2rem;
    cursor: pointer;
    max-width: 15ch;
    word-wrap: break-word;
    height: 3.2rem;
}

.header_cell:first-child {
    max-width: unset;
}

/*preset/instrument name*/
.header_cell input {
    background: transparent;
    border: none;
    outline: var(--font-color);
    font-size: 1rem;
    font-weight: bold;
    text-overflow: ellipsis;
}

.generator_cell_header {
    cursor: not-allowed;
}

.generator_cell_header > div {
    text-align: start;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
}

.generator_cell_header i {
    opacity: 0.5;
    cursor: help;
}

.generator_cell input {
    background: transparent;
    font-size: 1rem;
    border: none;
    width: 100%;
    height: 100%;
    text-align: end;
    min-width: 12ch;
    outline-color: var(--font-color);
    cursor: cell;
}

.generator_row_highlight .generator_cell_header {
    background: var(--top-buttons-color-end);
}

.generator_row_highlight .generator_cell {
    background: var(--top-buttons-color-start);
}