.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
    flex-grow: 1;
}

.settings p {
    word-wrap: break-word;
    max-width: 30ch;
    padding: 1rem;
    text-align: start;
}

.settings_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: baseline;
    justify-content: center;
}

.settings .settings_group {
    background: var(--lighter-color-start);
    border: solid 1px var(--track-border-color);
    border-radius: var(--primary-border-radius);
    width: max-content;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    background: var(--lighter-color-end);
    border: solid 1px var(--track-border-color);
    border-radius: var(--primary-border-radius);
    width: 100%;
}

.setting:hover {
    filter: brightness(1.2);
}

.setting input, .setting select {
    font-size: 1rem;
    text-align: center;
}


.setting input {
    width: 4rem;

}