.source_picker {
    display: flex;
    flex-direction: row;
    margin: 0.2rem;
    width: 100%;
    justify-content: space-between;
}

.source_picker input, .source_picker select {
    color: var(--font-color);
    background: transparent;
    border: none;
    font-size: 1rem;
    text-align: center;
}

.source_picker input {
    width: 6ch;
}

.source_picker select {
    cursor: pointer;
}
