.tab_list {
    display: flex;
    overflow-x: auto;
    border-bottom: solid var(--track-border-color) 1px;
    margin-bottom: 0;
    gap: var(--flex-gap);
    padding-bottom: var(--flex-gap);
    height: 2.5rem;
    min-height: 2.5rem;
}

.tab {
    padding: 0 0.5rem;
    border: solid 1px var(--track-border-color);
    border-radius: var(--primary-border-radius);
    user-select: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.tab button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 100%;
    border-radius: var(--primary-border-radius);
}

.tab button:hover {
    background: var(--lighter-color);
}

.tab.active {
    font-weight: bold;
    border-color: var(--border-color);
}