* {
    /*global variables*/
    --top-buttons-color-start: #222;
    --top-buttons-color-end: #333;
    --top-buttons-color: linear-gradient(201deg, var(--top-buttons-color-start), var(--top-buttons-color-end));

    --hide-top-duration: 0.2s;

    --font-color: #ccc;
    --top-index: 32767;

    --top-color-start: #101010;
    --top-color-end: #212121;
    --top-color: linear-gradient(31deg, var(--top-color-start), var(--top-color-end));

    --primary-border-radius: 0.5rem;
    --active-scale: 0.9;
    --menu-bar-height: 3rem;

    /*thanks for this bezier mozilla devtools*/
    --bouncy-transition: cubic-bezier(.68, -0.55, .27, 1.55);

    --music-mode-transition: 0.5s ease;

    /*global styles*/
    font-family: system-ui, "Noto Sans", "Open Sans", sans-serif;
    color: var(--font-color);
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

select option {
    background: var(--top-color-start);
    color: var(--font-color);
}

pre {
    font-family: monospace !important;
}

#root {
    height: 100lvh;
    width: 100%;
    background: black;
    overflow-x: clip;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
}

.spessafont_main {
    display: flex;
    flex-direction: column;
    height: 100%;

    /* theme colors */
    --primary-color: #510087;
    --border-color: #6e00b7;
    --track-color: #333;
    --track-border-color: #444;
    --shadow-color: #000;
    --main-content-height: calc(100vh - var(--menu-bar-height) * 2);

    background: var(--top-color);
    scrollbar-width: thin;
}

.spessafont_main.light_mode {
    --primary-color: #a93bff;
    --border-color: #510087;
    --track-color: #ccc;
    --track-border-color: #444;
    --shadow-color: #fff;
}

.main_content {
    width: 100%;
    background: var(--top-color);
    display: flex;
    flex-grow: 1;
    max-height: var(--main-content-height);
}

.main_content_window {
    width: 100%;
    display: flex;
    flex-grow: 1;
    max-height: var(--main-content-height);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.pretty_input {
    background: var(--top-color-start);
    border-radius: var(--primary-border-radius);
    color: var(--font-color);
    border: 0.2rem solid var(--top-buttons-color-end);
    transition: all 0.2s ease;
    text-align: start;
    padding: 0.3rem;
}

.pretty_input:focus {
    border: 0.2rem solid var(--border-color)
}

.hover_brightness:hover {
    filter: brightness(1.8);
}

.responsive_button {
    transition: all 0.2s ease;
}

.responsive_button:active {
    transform: scale(var(--active-scale));
}

.pretty_outline {
    background: var(--top-buttons-color-end);
    padding: 0.5rem;
    border-radius: var(--primary-border-radius);
    border: solid var(--track-border-color) 1px;
    font-size: 1rem;
}

.welcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--top-color);
}

.welcome h3 {
    margin-top: 10rem;
}


::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 4px;
}