* {
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

#root {
    height: 100lvh;
    width: 100%;
    background: black;
    overflow-x: clip;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
}

.spessafont_main *, .spessafont_main {
    scrollbar-gutter: stable;
    /*global variables*/
    --top-buttons-color-start: #222;
    --top-buttons-color-end: #333;
    --top-buttons-color: linear-gradient(201deg, var(--top-buttons-color-start), var(--top-buttons-color-end));

    --font-color: #eee;
    --top-index: 100;

    --top-color-start: #101010;
    --top-color-end: #212121;
    --top-color: linear-gradient(31deg, var(--top-color-start), var(--top-color-end));

    --primary-border-radius: 0.5rem;
    --active-scale: 0.9;
    --menu-bar-height: 2rem;

    /* theme colors */
    --primary-color: #510087;
    --border-color: #6e00b7;
    --track-color: #333;
    --track-border-color: #494949;

    --preset-item-color: darkred;
    --instrument-item-color: dodgerblue;
    --sample-item-color: gold;

    /*thanks for this bezier mozilla devtools*/
    --bouncy-transition: cubic-bezier(.68, -0.55, .27, 1.55);

    --flex-gap: 0.5rem;

    /*global styles*/
    font-family: system-ui, "Noto Sans", "Open Sans", sans-serif;
    color: var(--font-color);

    transition: all 0.2s ease;
}

.spessafont_main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--top-color);
    scrollbar-width: thin;
    gap: var(--flex-gap);
}

.spessafont_main.light_mode, .spessafont_main.light_mode * {
    --top-buttons-color-start: #eee;
    --top-buttons-color-end: #aaa;

    --top-color-start: #ddd;
    --top-color-end: #eee;

    --font-color: #111;

    --primary-color: #5f93ff;
    --border-color: #0023c9;

    --track-color: #fff;
    --track-border-color: #444;

    --preset-item-color: red;
    --instrument-item-color: deepskyblue;
    --sample-item-color: #e58900;
}

select option {
    background: var(--top-color-start);
    color: var(--font-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.hidden {
    display: none !important;
}

.monospaced {
    /* This keeps the jetbrains and regular monospace height the same */
    font-size: 1rem;
    font-family: "JetBrains Mono", "Monospaced", monospace;
}

.pretty_input {
    background: var(--top-color-start);
    border-radius: var(--primary-border-radius);
    color: var(--font-color);
    border: 0.2rem solid var(--top-buttons-color-end);
    transition: all 0.2s ease;
    text-align: start;
    padding: 0.3rem;
}

.pretty_input:focus {
    border: 0.2rem solid var(--border-color);
    outline: none;
}

.pretty_button {
    user-select: none;
    background: var(--top-color-start);
    border-radius: var(--primary-border-radius);
    color: var(--font-color);
    border: 0.2rem solid var(--top-buttons-color-end);
    transition: all 0.2s ease;
    text-align: start;
    padding: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
}

.hover_brightness:hover {
    filter: brightness(1.8);
}

.responsive_button {
    transition: all 0.2s ease;
}

.responsive_button:active {
    transform: scale(var(--active-scale));
}

.pretty_outline {
    background: var(--top-buttons-color-end);
    border-radius: var(--primary-border-radius);
    border: solid var(--track-border-color) 1px;
    font-size: 1rem;
    padding: 0.2rem;
}

.welcome {
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--top-color);
    position: relative;
}

.welcome h2 {
    cursor: pointer;
    border-bottom: solid 1px var(--font-color);
}

.welcome.loading {
    cursor: progress;
}

.welcome_copyright {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.disabled {
    filter: grayscale(10);
}

.warning {
    color: red !important;
}

input:focus, select:focus {
    transition: none;
    outline: ridge var(--border-color) 0.2rem;
}


::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.5rem;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 4px;
}