* {
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

#root {
    height: 100lvh;
    width: 100%;
    background: black;
    overflow-x: clip;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
}

.spessafont_main *, .spessafont_main {
    /*global variables*/
    --lighter-color-start: oklch(16% 0 0);
    --lighter-color-end: oklch(20.5% 0 0);
    --lighter-color: linear-gradient(201deg, var(--lighter-color-start), var(--lighter-color-end));

    --font-color: oklch(95% 0 0);
    --top-index: 100;

    --darker-color-start: #000;
    --darker-color-end: oklch(14.5% 0 0);
    --darker-color: linear-gradient(31deg, var(--darker-color-start), var(--darker-color-end));

    --primary-border-radius: 0.5rem;
    --active-scale: 0.9;
    --menu-bar-height: 2rem;

    /* theme colors */
    --primary-color: #320056FF;
    --border-color: #4c037a;
    --light-primary-color: #d3a3ff;
    --track-color: #333;
    --track-border-color: oklch(30% 0 0);

    --preset-item-color: darkred;
    --instrument-item-color: dodgerblue;
    --sample-item-color: gold;

    /*thanks for this bezier mozilla devtools*/
    --bouncy-transition: cubic-bezier(.68, -0.55, .27, 1.55);

    --flex-gap: 0.5rem;

    /*global styles*/
    font-family: system-ui, "Noto Sans", "Open Sans", sans-serif;
    color: var(--font-color);

    transition: all 0.2s ease;
}

.spessafont_main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--darker-color-start);
    scrollbar-width: thin;
    gap: var(--flex-gap);
}

.spessafont_main.light_mode, .spessafont_main.light_mode * {
    --lighter-color-start: #efefef;
    --lighter-color-end: #eee;

    --darker-color-start: #fff;
    --darker-color-end: #eee;

    --font-color: #111;

    --primary-color: #5f93ff;
    --border-color: #0023c9;
    --light-primary-color: #c5d9ff;

    --track-color: #fff;
    --track-border-color: #aaa;

    --preset-item-color: red;
    --instrument-item-color: deepskyblue;
    --sample-item-color: #e58900;
}

select option {
    background: var(--darker-color-start);
    color: var(--font-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.hidden {
    display: none !important;
}

.monospaced {
    /* This keeps the jetbrains and regular monospace height the same */
    font-size: 1rem;
    font-family: "JetBrains Mono", "Monospaced", monospace;
}

.pretty_input {
    background: var(--lighter-color-end);
    border-radius: var(--primary-border-radius);
    color: var(--font-color);
    border: 1px solid var(--track-border-color);
    transition: all 0.2s ease;
    text-align: start;
    padding: 0.3rem;
}

.pretty_input:focus {
    border-color: var(--border-color);
    outline: none;
}

.pretty_button {
    user-select: none;
    background: var(--lighter-color-end);
    border-radius: var(--primary-border-radius);
    color: var(--font-color);
    border: 1px solid var(--track-border-color);
    transition: all 0.2s ease;
    text-align: start;
    padding: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
}

.hover_brightness:hover {
    filter: brightness(1.2);
}

.responsive_button {
    transition: all 0.2s ease;
}

.responsive_button:active {
    transform: scale(var(--active-scale));
}

.pretty_outline {
    background: var(--lighter-color-end);
    border-radius: var(--primary-border-radius);
    border: solid var(--track-border-color) 1px;
    font-size: 1rem;
    padding: 0.2rem;
}

.disabled {
    filter: grayscale(10);
}

.warning {
    color: red !important;
}

input:focus, select:focus {
    transition: none;
    outline: ridge var(--border-color) 0.2rem;
}


/* Commented for now because native scrollbars seem nice */
/*::-webkit-scrollbar {*/
/*    width: 0.3rem;*/
/*    height: 0.5rem;*/
/*    background: transparent;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background: transparent;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: var(--font-color);*/
/*    border-radius: 4px;*/
/*}*/