.info_field {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

.info_field span {
    text-align: start;
    white-space: nowrap;
}

.info_field input {
    text-align: end;
}